.posts--header( rollingListHeader )
  .header--users
    ng-container( *ngFor="let post of posts; let idx = index" )
      .header--user(
        "(click)"="goToProfile(post.user.username)"
        "[ngClass]"="{'user__active': getActiveState(idx)}"
      )
        .header--avatar
          img( [src]="post.user.avatar" )
        .header--username @{{ post.user.username }}
.posts
  ng-container( *ngFor="let post of posts; let idx = index" )
    .post( 
      "[rollingListItem]"="rollingListItemModel"
      "[rollingListIndex]"="idx"
      "(click)"="showPost(post.link)"
    )
      .post--title( [innerHTML]="post.title" )
      .post--preview( [innerHTML]="post.content" )
      .post--stats
        .stats--block
          i.material-icons remove_red_eye 
          .stats--text {{ post.views }}
        .stats--block
          i.material-icons favorite
          .stats--text {{ post.loves }}
        .stats--block
          i.material-icons comment
          .stats--text {{ post.comments }}

.menu( [scrollClass]="scrollClassModel" )
  .menu--bar( 
    [ngClass]="{menu__open: menuOpen}"
  )
    .menu--action( 
      *ngIf="user !== 'host'"
      "(click)"="goToProfile()"
    )
      i.material-icons face
      .menu--desc Profile
    .menu--action( *ngIf="user === 'host'" routerLink="/login/false" )
      i.material-icons exit_to_app
      .menu--desc Login
    .menu--action( (click)="showSearchBar()" )
      i.material-icons search
      .menu--desc Search
  .menu--icon( (click)="showMenu()" )
    i.material-icons home

.search( [ngClass]="{'search__visible': isSearchBarVisible}" )
  .search--bar
    .bar--group
      .search--back
        i.material-icons( (click)="hideSearchBar()" ) keyboard_arrow_left
        i.material-icons( (click)="clearSearchQuery()" ) clear_all
    .bar--group
      input( 
        placeholder="Search"
        "[(ngModel)]"="query"
        "(ngModelChange)"="search(query)"
      )
      .search--loader( *ngIf="searching" )
  .search--results
    .search--item( *ngFor="let result of searchResults" )
      .item--title( [innerHTML]="result.title" )
      .item--content( [innerHTML]="result.content" )
      .item--stats
        .stats--block
          i.material-icons remove_red_eye
          span {{ result.views }}
        .stats--block
          i.material-icons favorite
          span {{ result.loves }}
        .stats--block
          i.material-icons comment
          span {{ result.comments }}